@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Classic change of body  */

body 
{ 
    margin: 0px;
    padding-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-dark);
    color: white;
}

/* Color manage  */

:root {

    --dark: rgba(42, 42, 46, 1);
    --gray-dark: rgb(51, 51, 55);
    --green: #A0D468;
    --dark-green: #8CC152;
    --red: #E9573F;
    --blue: #4A89DC;
    --aqua: #3BAFDA;
    --pink: #EC87C0;
    --gray: #b7bbc0;

    --primary-color: #3bafda;
    --warning-color: #f6bb42;
    --danger-color: #da4453;
}


/* Navigation  */

nav.navbar 
{
    background-color: var(--dark);
    padding: 4px;
    font-size: 1.1em;
}

nav.navbar ul li a 
{
    color: white;
    text-decoration: none;
}

nav.navbar ul li a 
{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav.navbar ul li a:hover
{
    color: var(--gray);
    transition: 0.5s;
}

nav.navbar ul li 
{
    display: inline-block;
    margin: 0 7px 0 0;
}

nav.navbar ul li.navbar-right 
{
    float:right;
    margin-right: 15px;
}


/* Footer  */

footer.minified-footer
{
    background-color: var(--dark);
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    text-align: center;
    min-height: 15px;
    position: fixed;
    bottom: 0px;
}

footer.minified-footer .footer-right 
{
    grid-column: 3;
    margin-right: 10px;
}

footer.minified-footer .footer-left 
{
    grid-column: 1;
}

footer.minified-footer .footer-center 
{
    grid-column: 2;

}


/* Other */

.text-muted 
{
    color: var(--gray);
    font-size: 0.9em;
    margin: 1px;
}

.main 
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

div.main-center
{
    grid-column: 2;
    grid-row: 1;
}

/* Form */

form.form 
{
    margin: 10px;
}

form.form label 
{
    color: var(--gray);
    font-size: 0.9em;
    margin-bottom: 10px;
    display: inline-flex;
}


form.form input[type=text], form.form select, form.form input[type=datetime], form.form input[type=email]  {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

form.form input[type=submit] 
{
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* Buttons */

input.btn, button.btn
{
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn.btn-primary 
{
    background-color: var(--primary-color);
}

.btn.btn-warning 
{
    background-color: var(--warning-color);
}

.btn.btn-danger 
{
    background-color: var(--danger-color);
}


input.btn:hover , button.btn:hover 
{
    opacity: 0.8;
    transition: 0.5s;
}


.switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  

  
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    border-radius: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  .slider:before 
{
    position: absolute;
    content: "";
    height: 26px;

    border-radius: 50%;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider 
{
    background-color: #2196F3;
}
  
  input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}
  
  input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  

div.card 
{
    display: block;
    background: white;
    box-shadow: 0 1px 2px rgba(236, 234, 234, 0.2); 
    color: black;
    border-radius: 2px;
    margin: 20px;
    text-align: center;
    width: calc(25% - 20px);
    min-height: 60px;
}

div.card .title 
{
    font-size: 1.3em;
    font-weight: 900;
    margin: 10px;
}

div.card .content 
{
    padding: 10px;
}

div.card img

{
    width: 100%;
}

